# ============================================================
# Dataset
# ============================================================

dataset/*.csv


# ============================================================
# Operating System
# ============================================================

.DS_Store
Thumbs.db


# ============================================================
# IDE / Editor
# ============================================================

.vscode/


# ============================================================
# Temporary Files
# ============================================================

*.tmp
*.temp